projekat_nrt_46_18/Administrator/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lozinka" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="LoginResult" nillable="true" type="q1:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prikazGrupa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="prikazGrupaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="prikazGrupaResult" nillable="true" type="q2:ArrayOfGrupa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zahtevZaPristupGrupi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="grupaKorisnici" nillable="true" type="q3:GrupaKorisnici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zahtevZaPristupGrupiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="izlazakIzGrupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q4:Korisnik" />
        <xs:element minOccurs="0" name="idGrupe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izlazakIzGrupeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="izlazakIzGrupeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slanjePoruka">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="poruke" nillable="true" type="q5:Poruke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slanjePorukaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="citanjePoruka">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q6:Korisnik" />
        <xs:element minOccurs="0" name="idKorisnika" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="citanjePorukaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="citanjePorukaResult" nillable="true" type="q7:Poruke" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onlineKorisnici">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q8:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onlineKorisniciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="onlineKorisniciResult" nillable="true" type="q9:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vecUgrupi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q10:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vecUgrupiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vecUgrupiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q11:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniKorisnikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="korisnik" nillable="true" type="q12:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajKorisnikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OdobriUlazakUGrupu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="grupaKorisnici" nillable="true" type="q13:GrupaKorisnici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdobriUlazakUGrupuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PonistiUlazakUGrupu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="grupaKorisnici" nillable="true" type="q14:GrupaKorisnici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PonistiUlazakUGrupuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="prikazZahteva">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="prikazZahtevaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="prikazZahtevaResult" nillable="true" type="q15:ArrayOfGrupaKorisnici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prikaziSveKorisnike">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="prikaziSveKorisnikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="prikaziSveKorisnikeResult" nillable="true" type="q16:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>